<!DOCTYPE html>
<html>
<head>
  <title>SampFushion</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "style", :media => "all" %>
  <%= javascript_include_tag "flowplayer" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield%>

</body>
</html>
